.addToCartButton {
    display: flex;
    width: 580px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    /* STYLE */
    border-radius: 65px;
    background: var(--Strawberry);
    color: white;
    font-family: var(--font-dm-sans);
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); /* Centrado horizontal */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Efects*/
    transition: all 0.3s ease;
  }
  
  .addToCartButton:hover {
    background: var(--Strawberry-zero);
    transform: translateX(-50%) translateY(-2px); /* continue centrated  "under the hoover*/
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }
  
  .clicked {
    background: var(--Lime) !important;
    transform: translateX(-50%) scale(0.98); /* Efecto de click */
  }